In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
from google.colab import data_table
data_table.enable_dataframe_formatter

In [1]:
import pandas as pd
import numpy as np

In [5]:
# explore orders table first 
df = pd.read_csv('/content/drive/MyDrive/lighthoust_lab/Final Project/Time-Series-Forecasting/data/orders.csv', sep=';')

In [2]:
df = pd.read_csv('/Users/leahchen/Documents/LHL/Final Project/Time-Series-Forecasting/data/orders.csv', sep=';')

In [3]:
df.head(15)

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,department,channel,owner,site,CreatedAt
0,2000093387,2020-04-24 00:00:00,GOPAY_CARD,S101,1,NaN,3.506048,0.000000,3.496395,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00
1,2000093387,2020-04-24 00:00:00,GOPAY_CARD,S113,1,NaN,-0.705913,0.000000,-0.717209,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00
2,2000093388,2020-04-24 00:00:00,COD,ZB00089178,1,NaN,5.829845,2.209302,6.472868,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
3,2000093388,2020-04-24 00:00:00,COD,ZB00138060,1,NaN,5.829845,2.209302,6.472868,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
4,2000093388,2020-04-24 00:00:00,COD,ZB00015664,1,NaN,19.379845,18.731008,32.015504,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
5,2000093388,2020-04-24 00:00:00,COD,ZB00031201,1,NaN,9.065116,11.650000,22.403101,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
6,2000093388,2020-04-24 00:00:00,COD,S101,1,NaN,1.889922,0.000000,1.899225,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
7,2000093388,2020-04-24 00:00:00,COD,S113,1,NaN,0.929070,0.000000,0.930233,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00
8,2000093389,2020-04-24 00:00:00,COD,ZB00055666,1,NaN,15.856201,8.604651,22.403101,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:50:00
9,2000093389,2020-04-24 00:00:00,COD,S101,1,NaN,1.889922,0.000000,1.899225,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:50:00
10,2000093389,2020-04-24 00:00:00,COD,S113,1,NaN,0.929070,0.000000,0.930233,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:50:00
11,2000093390,2020-04-24 00:00:00,CARD_CSOB,ZB00009585,1,1.0,0.032170,9.870930,25.581395,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:50:00
12,2000093390,2020-04-24 00:00:00,CARD_CSOB,ZB00047919,1,NaN,130.661628,72.582558,153.720930,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:50:00
13,2000093390,2020-04-24 00:00:00,CARD_CSOB,S113,1,NaN,-0.640698,0.000000,-0.658915,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:50:00
14,2000093391,2020-04-24 00:00:00,COD,ZB00102496,1,NaN,43.951860,24.263566,57.748217,E-COMMER,FTB.skC,FTB.skO,11teamsports.sk,2020-04-24 21:50:00

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2128524 entries, 0 to 2128523
Data columns (total 14 columns):
 #   Column               Dtype
---  ------               -----
 0   order_id             int64
 1   date                 object
 2   payment              object
 3   item_code            object
 4   quantity             int64
 5   gift_quantity        float64
 6   unit_price_vat_excl  float64
 7   unit_cogs            float64
 8   unit_rrp_vat_excl    float64
 9   department           object
 10  channel              object
 11  owner                object
 12  site                 object
 13  CreatedAt            object
dtypes: float64(4), int64(2), object(8)
memory usage: 227.4+ MB

In [5]:
# Convert the 'date' column to datetime objects
df['date'] = pd.to_datetime(df['date'])

# Find the date range
min_date = df['date'].min()
max_date = df['date'].max()

print(f"Date range: {min_date} to {max_date}")

Date range: 2019-06-01 00:00:00 to 2022-01-14 00:00:00

In [6]:
df.columns

Index(['order_id', 'date', 'payment', 'item_code', 'quantity', 'gift_quantity',
       'unit_price_vat_excl', 'unit_cogs', 'unit_rrp_vat_excl', 'department',
       'channel', 'owner', 'site', 'CreatedAt'],
      dtype='object')

In [7]:
df.isnull().sum()

order_id                     0
date                         0
payment                    567
item_code                    0
quantity                     0
gift_quantity          2118134
unit_price_vat_excl          0
unit_cogs                    0
unit_rrp_vat_excl           98
department                   0
channel                      0
owner                        0
site                         0
CreatedAt                    0
dtype: int64

In [8]:
# Fill missing values in 'gift_quantity' with 0
df['gift_quantity'].fillna(0, inplace=True)

# Drop rows with missing values in specific columns
# (because i check the null values of payment, majority of nulls occurring on one day, could be the reason of payment processor outage)
columns_to_check = ['payment', 'unit_rrp_vat_excl']
df.dropna(subset=columns_to_check, inplace=True)

In [14]:
df.isnull().sum()

order_id               0
date                   0
payment                0
item_code              0
quantity               0
gift_quantity          0
unit_price_vat_excl    0
unit_cogs              0
unit_rrp_vat_excl      0
department             0
channel                0
owner                  0
site                   0
CreatedAt              0
dtype: int64

- convert country name into dataframe

In [9]:
# define each country according the column 'site'
def extract_country_code(domain):
    parts = domain.split('.')
    return parts[-1]

In [10]:
# Extract the country code and create a new 'country' column
df['country'] = df['site'].apply(extract_country_code)

unique_countries = df['country'].unique()
print(f"unique countries: {unique_countries}")

unique countries: ['hu' 'cz' 'sk' 'de' 'ro' 'fr' 'es' 'at' 'com' 'it' 'hr' 'other' 'nl' 'ie'
 'be' 'dk' 'se' 'pt' 'pl' 'fi' 'si' 'uk' 'bg']

In [11]:
df['country'].value_counts()

cz       706338
sk       357633
hu       285599
ro       276237
de       122474
es       119033
fr        72947
it        41398
hr        37030
com       34392
ie        16575
dk        14006
nl        10862
at        10734
se         7594
pt         4918
pl         4323
be         3392
fi         1599
si          713
other        46
uk           14
bg            6
Name: country, dtype: int64

In [12]:
# drop 'other' in column 'country'
df = df[df['country'] != 'other']

df['country'].value_counts()

cz     706338
sk     357633
hu     285599
ro     276237
de     122474
es     119033
fr      72947
it      41398
hr      37030
com     34392
ie      16575
dk      14006
nl      10862
at      10734
se       7594
pt       4918
pl       4323
be       3392
fi       1599
si        713
uk         14
bg          6
Name: country, dtype: int64

In [13]:
df['country']=df['country'].replace(
    {'cz':'Czech Republic','com':'Czech Republic', 'de':'Germany', 'es':'Spain', 'hr': 'Croatia',  'it': 'Italy',
     'fr':'France',  'hu':'Hungary', 'at':'Austria', 'ie':'Ireland', 'ro':'Romania', 'sk':'Slovakia',
     'dk':'Denmark', 'nl':'Netherlands', 'se':'Sweden', 'pt':'Portugal', 'pl':'Poland',
     'be':'Belgium', 'fi':'Finland', 'si':'Slovenia', 'uk':'United Kingdom', 'bg':'Bulgaria'})

In [14]:
value_counts = df['quantity'].value_counts()
print(value_counts)

 1      2066147
 2        32663
-1        15648
 3         5519
 4         2472
 5         1581
 6          912
 10         721
 8          459
 7          428
 9          205
 12         184
 15         163
 20         131
 11          98
 14          69
 13          67
 16          66
 18          53
 17          33
 25          23
 30          21
 24          21
 22          16
 19          16
 40          15
 21          13
 23          10
 50          10
 100          5
 60           4
 26           4
 33           3
 44           3
 28           3
 36           3
 29           3
 38           2
 27           2
 32           2
 35           2
 54           1
 34           1
 42           1
 31           1
 47           1
 51           1
 80           1
 52           1
 70           1
 56           1
 136          1
 41           1
 39           1
 43           1
 71           1
 48           1
 55           1
Name: quantity, dtype: int64

In [15]:
df.round({'unit_price_vat_excl': 2, 'unit_cogs': 2, 'unit_rrp_vat_excl': 2})

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,department,channel,owner,site,CreatedAt,country
0,2000093387,2020-04-24,GOPAY_CARD,S101,1,0.0,3.51,0.00,3.50,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00,Hungary
1,2000093387,2020-04-24,GOPAY_CARD,S113,1,0.0,-0.71,0.00,-0.72,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2020-04-24 21:50:00,Hungary
2,2000093388,2020-04-24,COD,ZB00089178,1,0.0,5.83,2.21,6.47,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00,Czech Republic
3,2000093388,2020-04-24,COD,ZB00138060,1,0.0,5.83,2.21,6.47,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00,Czech Republic
4,2000093388,2020-04-24,COD,ZB00015664,1,0.0,19.38,18.73,32.02,E-COMMER,FTB.czC,FTB.czO,11teamsports.cz,2020-04-24 21:45:00,Czech Republic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2127897,2200023866,2022-01-14,COD,S101,1,0.0,1.89,0.00,1.90,E-COMMER,11TS.czC,11TS.czO,11teamsports.cz,2022-01-14 05:55:00,Czech Republic
2127898,2200023866,2022-01-14,COD,S113,1,0.0,0.93,0.00,0.93,E-COMMER,11TS.czC,11TS.czO,11teamsports.cz,2022-01-14 05:55:00,Czech Republic
2127899,2200023867,2022-01-14,COD,ZB00194658,1,0.0,18.53,13.29,23.78,E-COMMER,11TS.roC,AMBASS,11teamsports.ro,2022-01-14 06:00:00,Romania
2127900,2200023867,2022-01-14,COD,S113,1,0.0,0.81,0.00,0.77,E-COMMER,11TS.roC,AMBASS,11teamsports.ro,2022-01-14 06:00:00,Romania
2127901,2200023867,2022-01-14,COD,S101,1,0.0,2.42,0.00,2.49,E-COMMER,11TS.roC,AMBASS,11teamsports.ro,2022-01-14 06:00:00,Romania

In [16]:
df.describe()

,order_id,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl
count,2.127817e+06,2.127817e+06,2.127817e+06,2.127817e+06,2.127817e+06,2.127817e+06
mean,2.039062e+09,1.029536e+00,4.883879e-03,3.102401e+01,1.903940e+01,3.943015e+01
std,7.637446e+07,5.853067e-01,6.973413e-02,4.067118e+01,2.665813e+01,5.013589e+01
min,2.000000e+07,-1.000000e+00,0.000000e+00,-1.859721e+00,0.000000e+00,-1.771163e+00
25%,2.000112e+09,1.000000e+00,0.000000e+00,2.551573e+00,0.000000e+00,2.613605e+00
50%,2.100025e+09,1.000000e+00,0.000000e+00,1.443133e+01,7.829457e+00,2.035120e+01
75%,2.100322e+09,1.000000e+00,0.000000e+00,4.481395e+01,2.871512e+01,5.810723e+01
max,2.200024e+09,1.360000e+02,3.000000e+00,7.203857e+02,2.440504e+03,7.444543e+02

- deal with some extreme outliers and typos

In [19]:
max_value = df['unit_cogs'].max()
max_row = df.loc[df['unit_cogs'] == max_value]
max_row

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,department,channel,owner,site,CreatedAt,country
147737,1900084481,2019-06-11,PAYPAL,ZB00027307,1,0.0,58.421027,2440.503876,58.421027,E-COMMER,RUN.deC,RUN.deO,top4running.de,2019-06-11 13:05:00,Germany

In [24]:
threshold = 500
above_threshold = df.loc[df['unit_cogs'] > threshold]
above_threshold

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,department,channel,owner,site,CreatedAt,country
76404,2000126662,2020-06-02,PAYPAL,ZB00011179,1,0.0,664.701713,550.622481,731.258295,E-COMMER,RUN.esC,RUN.esO,top4running.es,2020-06-02 13:30:00,Spain
139062,1900079453,2019-06-04,COD,ZB00011176,1,0.0,565.998914,511.195736,0.000000,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2019-06-04 12:49:00,Hungary
140903,1900080542,2019-06-04,COD,ZB00011179,1,0.0,608.473175,549.615891,640.499359,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2019-06-04 15:38:00,Hungary
146942,1900084115,2019-06-10,COD,ZB00011176,1,0.0,565.998914,511.195736,0.000000,E-COMMER,FTB.huC,FTB.huO,11teamsports.hu,2019-06-10 10:27:00,Hungary
147737,1900084481,2019-06-11,PAYPAL,ZB00027307,1,0.0,58.421027,2440.503876,58.421027,E-COMMER,RUN.deC,RUN.deO,top4running.de,2019-06-11 13:05:00,Germany
155971,1900088510,2019-06-20,COD,ZB00027278,1,0.0,64.584302,608.258140,99.360465,E-COMMER,FTB.skC,FTB.skO,11teamsports.sk,2019-06-20 16:40:00,Slovakia
204013,1900111252,2019-08-01,COD,ZB00011179,1,0.0,570.801121,549.615891,600.834455,E-COMMER,FTB.huC,FTB.huO,11teamsports.hu,2019-08-01 11:03:00,Hungary
217709,1900118053,2019-08-10,PAYPAL_EXPRESS,ZB00003642,1,0.0,52.671174,544.539922,52.671174,E-COMMER,FIT.deC,FIT.deO,top4fitness.de,2019-08-10 08:47:00,Germany
220776,1900119552,2019-08-12,GOPAY_CARD,ZB00003642,1,0.0,51.800163,544.539922,51.800163,E-COMMER,RUN.esC,RUN.esO,top4running.es,2019-08-12 02:17:00,Spain
224388,1900121331,2019-08-13,PAYPAL_EXPRESS,ZB00003642,1,0.0,52.671174,544.539922,52.671174,E-COMMER,FIT.deC,FIT.deO,top4fitness.de,2019-08-13 19:03:00,Germany
231034,1900124648,2019-08-17,PAYPAL,ZB00003642,1,0.0,52.467481,544.539922,52.467481,E-COMMER,RUN.deC,RUN.deO,top4running.de,2019-08-17 20:02:00,Germany
231587,1900124928,2019-08-18,PAYPAL,ZB00003642,1,0.0,52.467481,544.539922,52.467481,E-COMMER,RUN.deC,RUN.deO,top4running.de,2019-08-18 12:02:00,Germany
232433,1900125355,2019-08-18,PAYPAL,ZB00003642,1,0.0,52.467481,544.539922,52.467481,E-COMMER,RUN.deC,RUN.deO,top4running.de,2019-08-18 21:03:00,Germany
233171,1900125729,2019-08-19,PAYPAL,ZB00003642,1,0.0,52.467481,544.539922,52.467481,E-COMMER,RUN.deC,RUN.deO,top4running.de,2019-08-19 12:02:00,Germany
418320,1900229888,2019-12-07,COD,ZB00041993,1,0.0,73.002713,1303.883721,121.705426,E-COMMER,RUN.czC,RUN.czO,top4running.cz,2019-12-07 11:00:00,Czech Republic
418325,1900229894,2019-12-07,COD,ZB00041993,1,0.0,73.002713,1303.883721,121.705426,E-COMMER,RUN.czC,RUN.czO,top4running.cz,2019-12-07 11:00:00,Czech Republic
420251,1900230993,2019-12-07,PAYPAL,ZB00041994,1,0.0,74.774002,1303.883721,124.676122,E-COMMER,FTB.deC,FTB.deO,top4football.de,2019-12-07 23:20:00,Germany
421642,1900231777,2019-12-08,CARD_GOPAY,ZB00041993,1,0.0,74.150473,1303.883721,123.636907,E-COMMER,RUN.skC,RUN.skO,top4running.sk,2019-12-08 16:42:00,Slovakia
422982,1900232519,2019-12-08,GOPAY_CARD,ZB00041996,1,0.0,73.411838,560.670155,122.553178,E-COMMER,RUN.roC,RUN.roO,top4running.ro,2019-12-08 21:44:00,Romania
424502,1900233398,2019-12-09,PAYPAL,ZB00041994,1,0.0,73.536841,1303.883721,122.607589,E-COMMER,RUN.esC,RUN.esO,top4running.es,2019-12-09 13:50:00,Spain
427635,1900235164,2019-12-10,CARD_CSOB,ZB00041993,1,0.0,73.002713,1303.883721,121.705426,E-COMMER,Sport.cC,Sport.cO,top4sport.cz,2019-12-10 10:11:00,Czech Republic
452567,1900250014,2019-12-19,COD,ZB00011179,1,0.0,657.259824,550.622481,691.948256,E-COMMER,FTB.roC,FTB.roO,11teamsports.ro,2019-12-19 18:02:00,Romania
466270,2000002631,2020-01-04,GOPAY_CARD,ZB00092333,1,0.0,671.735287,563.511240,706.669178,E-COMMER,RUN.frC,RUN.frO,top4running.fr,2020-01-04 18:35:00,France
620929,2000090839,2020-04-21,COD,ZB00022267,1,0.0,480.235659,511.195736,640.348837,E-COMMER,RUN.czC,RUN.czO,top4running.cz,2020-04-21 15:46:00,Czech Republic
681941,2000182164,2020-08-13,COD,ZB00097472,1,0.0,573.138210,512.253488,651.260116,E-COMMER,FTB.roC,FTB.roO,11teamsports.ro,2020-08-13 13:26:00,Romania
749560,2000218232,2020-09-19,COD,ZB00011179,1,0.0,624.018391,550.622481,733.642684,E-COMMER,RUN.skC,RUN.skO,top4running.sk,2020-09-19 14:40:00,Slovakia
933986,2000310392,2020-11-29,CARD_GOPAY,ZB00083069,1,0.0,589.370721,533.570543,736.721023,E-COMMER,RUN.skC,RUN.skO,top4running.sk,2020-11-29 21:06:00,Slovakia
984523,2000338170,2020-12-15,COD,ZB00086906,1,0.0,614.343054,550.622481,722.387548,E-COMMER,RUN.skC,RUN.skO,top4running.sk,2020-12-15 16:15:00,Slovakia
984935,2000338410,2020-12-15,COD,ZB00083068,1,0.0,591.506122,549.445349,739.390302,E-COMMER,FTB.skC,FTB.skO,11teamsports.sk,2020-12-15 18:25:00,Slovakia
998338,2000346333,2020-12-22,COD,ZB00083069,1,0.0,563.585271,533.570543,704.496124,E-COMMER,RUN.czC,RUN.czO,top4running.cz,2020-12-22 07:20:00,Czech Republic
1008280,2000352189,2020-12-27,COD,ZB00086906,1,0.0,526.357242,550.622481,619.246201,E-COMMER,FTB.huC,FTB.huO,11teamsports.hu,2020-12-27 18:55:00,Hungary
1574955,2100310126,2021-08-07,CHECKOUT_CARD,ZB00235575,1,0.0,642.163884,512.253488,642.163884,E-COMMER,RUN.deC,RUN.deO,top4running.de,2021-08-07 16:00:00,Germany

In [26]:
df = df.drop(df[(df['unit_price_vat_excl'] < df['unit_cogs']) & (df['unit_cogs'] > 500)].index)

In [27]:
threshold = 500
above_threshold = df.loc[df['unit_cogs'] > threshold]
above_threshold

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,department,channel,owner,site,CreatedAt,country
76404,2000126662,2020-06-02,PAYPAL,ZB00011179,1,0.0,664.701713,550.622481,731.258295,E-COMMER,RUN.esC,RUN.esO,top4running.es,2020-06-02 13:30:00,Spain
139062,1900079453,2019-06-04,COD,ZB00011176,1,0.0,565.998914,511.195736,0.000000,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2019-06-04 12:49:00,Hungary
140903,1900080542,2019-06-04,COD,ZB00011179,1,0.0,608.473175,549.615891,640.499359,E-COMMER,RUN.huC,RUN.huO,top4running.hu,2019-06-04 15:38:00,Hungary
146942,1900084115,2019-06-10,COD,ZB00011176,1,0.0,565.998914,511.195736,0.000000,E-COMMER,FTB.huC,FTB.huO,11teamsports.hu,2019-06-10 10:27:00,Hungary
204013,1900111252,2019-08-01,COD,ZB00011179,1,0.0,570.801121,549.615891,600.834455,E-COMMER,FTB.huC,FTB.huO,11teamsports.hu,2019-08-01 11:03:00,Hungary
452567,1900250014,2019-12-19,COD,ZB00011179,1,0.0,657.259824,550.622481,691.948256,E-COMMER,FTB.roC,FTB.roO,11teamsports.ro,2019-12-19 18:02:00,Romania
466270,2000002631,2020-01-04,GOPAY_CARD,ZB00092333,1,0.0,671.735287,563.511240,706.669178,E-COMMER,RUN.frC,RUN.frO,top4running.fr,2020-01-04 18:35:00,France
681941,2000182164,2020-08-13,COD,ZB00097472,1,0.0,573.138210,512.253488,651.260116,E-COMMER,FTB.roC,FTB.roO,11teamsports.ro,2020-08-13 13:26:00,Romania
749560,2000218232,2020-09-19,COD,ZB00011179,1,0.0,624.018391,550.622481,733.642684,E-COMMER,RUN.skC,RUN.skO,top4running.sk,2020-09-19 14:40:00,Slovakia
933986,2000310392,2020-11-29,CARD_GOPAY,ZB00083069,1,0.0,589.370721,533.570543,736.721023,E-COMMER,RUN.skC,RUN.skO,top4running.sk,2020-11-29 21:06:00,Slovakia
984523,2000338170,2020-12-15,COD,ZB00086906,1,0.0,614.343054,550.622481,722.387548,E-COMMER,RUN.skC,RUN.skO,top4running.sk,2020-12-15 16:15:00,Slovakia
984935,2000338410,2020-12-15,COD,ZB00083068,1,0.0,591.506122,549.445349,739.390302,E-COMMER,FTB.skC,FTB.skO,11teamsports.sk,2020-12-15 18:25:00,Slovakia
998338,2000346333,2020-12-22,COD,ZB00083069,1,0.0,563.585271,533.570543,704.496124,E-COMMER,RUN.czC,RUN.czO,top4running.cz,2020-12-22 07:20:00,Czech Republic
1574955,2100310126,2021-08-07,CHECKOUT_CARD,ZB00235575,1,0.0,642.163884,512.253488,642.163884,E-COMMER,RUN.deC,RUN.deO,top4running.de,2021-08-07 16:00:00,Germany

In [29]:
df.order_id.nunique()

924724

In [30]:
df.loc[df.country=="Czech Republic"].shape[0]/df.shape[0]*100

34.81184078007368

In [20]:
# explore items table 
df1=pd.read_csv('/content/drive/MyDrive/lighthoust_lab/Final Project/Time-Series-Forecasting/data/items.csv', sep=';')
df1.head()

,item_code,item_name,style,brand_id,name,group0_id,group0,group1_id,group1,group2_id,group2,category,gender,age,color,size
0,ZB00210807,Studio Metallic LS Top,51951501,86,Puma,200.0,Apparel,230.0,T-Shirts,233.0,Longsleeved (LS) shirts,fitness,women,adults,Black,L
1,ZB00210813,TRAIN TECH EVOKNIT SS TEE,52011101,86,Puma,200.0,Apparel,230.0,T-Shirts,0.0,NaN,fitness,men,adults,Black,S
2,ZB00210815,TRAIN TECH EVOKNIT SS TEE,52011123,86,Puma,200.0,Apparel,230.0,T-Shirts,0.0,NaN,fitness,men,adults,Orange,L
3,ZB00210821,TRAIN TECH EVOKNIT SS TEE,52011130,86,Puma,200.0,Apparel,230.0,T-Shirts,0.0,NaN,fitness,men,adults,Yellow,XL
4,ZB00261295,LIGA Baselayer Tee LS,655920-027,86,Puma,200.0,Apparel,230.0,T-Shirts,233.0,Longsleeved (LS) shirts,football,men,adults,Green,L

In [31]:
df1= pd.read_csv('/Users/leahchen/Documents/LHL/Final Project/Time-Series-Forecasting/data/items.csv', sep=';')

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 309128 entries, 0 to 309127
Data columns (total 16 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   item_code  309128 non-null  object
 1   item_name  306002 non-null  object
 2   style      302331 non-null  object
 3   brand_id   309128 non-null  int64
 4   name       309128 non-null  object
 5   group0_id  309093 non-null  float64
 6   group0     308302 non-null  object
 7   group1_id  301709 non-null  float64
 8   group1     265348 non-null  object
 9   group2_id  301709 non-null  float64
 10  group2     71773 non-null   object
 11  category   269282 non-null  object
 12  gender     301644 non-null  object
 13  age        301562 non-null  object
 14  color      263532 non-null  object
 15  size       301087 non-null  object
dtypes: float64(3), int64(1), object(12)
memory usage: 37.7+ MB

In [33]:
# merge two tables together to do the cleaning and EDA later
merged_df = df.merge(df1, on='item_code', how='left')
merged_df.head()

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,department,...,group0,group1_id,group1,group2_id,group2,category,gender,age,color,size
0,2000093387,2020-04-24,GOPAY_CARD,S101,1,0.0,3.506048,0.000000,3.496395,E-COMMER,...,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000093387,2020-04-24,GOPAY_CARD,S113,1,0.0,-0.705913,0.000000,-0.717209,E-COMMER,...,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000093388,2020-04-24,COD,ZB00089178,1,0.0,5.829845,2.209302,6.472868,E-COMMER,...,Apparel,290.0,Socks,291.0,Football socks,football,unisex,adults,Silver,3
3,2000093388,2020-04-24,COD,ZB00138060,1,0.0,5.829845,2.209302,6.472868,E-COMMER,...,Apparel,290.0,Socks,291.0,Football socks,football,unisex,adults,Pink,39-42
4,2000093388,2020-04-24,COD,ZB00015664,1,0.0,19.379845,18.731008,32.015504,E-COMMER,...,Apparel,240.0,Pants,0.0,NaN,fitness,men,adults,Black,XXL

In [34]:
# Assuming merged_df is your merged DataFrame
unique_values = merged_df.nunique()

# Print the number of unique values for each column
print(unique_values)

order_id               924724
date                      958
payment                    15
item_code              222371
quantity                   58
gift_quantity               3
unit_price_vat_excl    467732
unit_cogs              115474
unit_rrp_vat_excl      189119
department                  1
channel                    81
owner                      91
site                       69
CreatedAt              274937
country                    21
item_name               27620
style                   55022
brand_id                  130
name                      130
group0_id                   6
group0                      5
group1_id                  40
group1                     39
group2_id                  16
group2                     15
category                    4
gender                      4
age                         2
color                      20
size                      471
dtype: int64

In [35]:
# Check the unique values for a specific column
unique_values_category = merged_df['payment'].value_counts()
print(unique_values_category)

COD                    1239223
GOPAY_CARD              253683
PAYPAL                  226116
CARD_GOPAY              198793
CARD_CSOB               115234
CHECKOUT_CARD            84398
PAYPAL_EXPRESS            5318
CHECKOUT_APPLE            2626
CHECKOUT_IDEAL            1388
CHECKOUT_BANCONTACT        551
BANK_TRANSFER              356
CASH                        72
CSOB_CARD                   26
INVOICE_HUF                  9
PAYPAL_IDEALO                6
Name: payment, dtype: int64

In [36]:
# Check the unique values for 'category'
unique_values_category = merged_df['category'].value_counts()
print(unique_values_category)

football     709247
running      374218
fitness      203991
lifestyle     65414
Name: category, dtype: int64

In [37]:
# Check the unique values for 'gender'
unique_values_category = merged_df['gender'].value_counts()
print(unique_values_category)

men       688576
unisex    455965
women     213345
kids           3
Name: gender, dtype: int64

In [38]:
# Check the unique values for 'gender'
unique_values_category = merged_df['group0'].value_counts()
print(unique_values_category)

Other        769633
Apparel      696972
Footwear     517666
Equipment    138757
Nutrition      4341
Name: group0, dtype: int64

In [39]:
# Check the unique values for 'brand_id'
unique_values = merged_df['brand_id'].unique()
print(unique_values)

[ -1  86  85  84 125 106  89 118 169 135  93  88 237 233 116 232 115 139
 112 159 109 100 117 178  90 166 176 124 126 107 170 186 123  94 103 110
 134 168 104 234 144 161 138 167 149 101 129  97  92 163  87 185 164  98
  91 120 182 165 105 127 128 146 174 131 152 160 121 183 114 132 175 172
 171 119 147 151 111 122  96 184 230 180 177 181 173 179 137 190 108 188
 187 189 219 226 224 194 225 195 196 222 235 197 218 199 193 200 220 198
 228 229 133 162 255 258 260 205 202 259 254 246 261 209 236 256 221 262
 208 203 223 142]

In [40]:
# replace '-1' in column 'brand_id' with 11 instead
merged_df['brand_id'] = merged_df['brand_id'].replace(-1, 11)

In [41]:
merged_df.columns

Index(['order_id', 'date', 'payment', 'item_code', 'quantity', 'gift_quantity',
       'unit_price_vat_excl', 'unit_cogs', 'unit_rrp_vat_excl', 'department',
       'channel', 'owner', 'site', 'CreatedAt', 'country', 'item_name',
       'style', 'brand_id', 'name', 'group0_id', 'group0', 'group1_id',
       'group1', 'group2_id', 'group2', 'category', 'gender', 'age', 'color',
       'size'],
      dtype='object')

In [42]:
# drop columns are irrelevant
columns_to_drop = ['department','channel', 'owner', 'site','item_name', 'style', 'group1_id',
       'group1', 'group2_id', 'group2']
cleaned_df = merged_df.drop(columns_to_drop, axis=1)
cleaned_df

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,CreatedAt,country,brand_id,name,group0_id,group0,category,gender,age,color,size
0,2000093387,2020-04-24,GOPAY_CARD,S101,1,0.0,3.506048,0.000000,3.496395,2020-04-24 21:50:00,Hungary,11,- Å¾Ã¡dnÃ½ vÃ½robce -,999.0,Other,NaN,NaN,NaN,NaN,NaN
1,2000093387,2020-04-24,GOPAY_CARD,S113,1,0.0,-0.705913,0.000000,-0.717209,2020-04-24 21:50:00,Hungary,11,- Å¾Ã¡dnÃ½ vÃ½robce -,999.0,Other,NaN,NaN,NaN,NaN,NaN
2,2000093388,2020-04-24,COD,ZB00089178,1,0.0,5.829845,2.209302,6.472868,2020-04-24 21:45:00,Czech Republic,86,Puma,200.0,Apparel,football,unisex,adults,Silver,3
3,2000093388,2020-04-24,COD,ZB00138060,1,0.0,5.829845,2.209302,6.472868,2020-04-24 21:45:00,Czech Republic,86,Puma,200.0,Apparel,football,unisex,adults,Pink,39-42
4,2000093388,2020-04-24,COD,ZB00015664,1,0.0,19.379845,18.731008,32.015504,2020-04-24 21:45:00,Czech Republic,85,adidas,200.0,Apparel,fitness,men,adults,Black,XXL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2127794,2200023866,2022-01-14,COD,S101,1,0.0,1.889922,0.000000,1.899225,2022-01-14 05:55:00,Czech Republic,11,- Å¾Ã¡dnÃ½ vÃ½robce -,999.0,Other,NaN,NaN,NaN,NaN,NaN
2127795,2200023866,2022-01-14,COD,S113,1,0.0,0.929070,0.000000,0.930233,2022-01-14 05:55:00,Czech Republic,11,- Å¾Ã¡dnÃ½ vÃ½robce -,999.0,Other,NaN,NaN,NaN,NaN,NaN
2127796,2200023867,2022-01-14,COD,ZB00194658,1,0.0,18.530158,13.294574,23.776279,2022-01-14 06:00:00,Romania,84,Nike,100.0,Footwear,football,men,adults,Black,"42,5"
2127797,2200023867,2022-01-14,COD,S113,1,0.0,0.805326,0.000000,0.766977,2022-01-14 06:00:00,Romania,11,- Å¾Ã¡dnÃ½ vÃ½robce -,999.0,Other,NaN,NaN,NaN,NaN,NaN
2127798,2200023867,2022-01-14,COD,S101,1,0.0,2.417894,0.000000,2.492674,2022-01-14 06:00:00,Romania,11,- Å¾Ã¡dnÃ½ vÃ½robce -,999.0,Other,NaN,NaN,NaN,NaN,NaN

In [43]:
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2127799 entries, 0 to 2127798
Data columns (total 20 columns):
 #   Column               Dtype
---  ------               -----
 0   order_id             int64
 1   date                 datetime64[ns]
 2   payment              object
 3   item_code            object
 4   quantity             int64
 5   gift_quantity        float64
 6   unit_price_vat_excl  float64
 7   unit_cogs            float64
 8   unit_rrp_vat_excl    float64
 9   CreatedAt            object
 10  country              object
 11  brand_id             int64
 12  name                 object
 13  group0_id            float64
 14  group0               object
 15  category             object
 16  gender               object
 17  age                  object
 18  color                object
 19  size                 object
dtypes: datetime64[ns](1), float64(5), int64(3), object(11)
memory usage: 340.9+ MB

In [44]:
cleaned_df.isnull().sum()

order_id                    0
date                        0
payment                     0
item_code                   0
quantity                    0
gift_quantity               0
unit_price_vat_excl         0
unit_cogs                   0
unit_rrp_vat_excl           0
CreatedAt                   0
country                     0
brand_id                    0
name                        0
group0_id                  41
group0                    430
category               774929
gender                 769910
age                    769931
color                  804153
size                   770205
dtype: int64

In [45]:
# Check for negative values in specific columns
columns_to_check = ['unit_price_vat_excl','unit_cogs','unit_rrp_vat_excl']
negative_counts = {}

for column in columns_to_check:
    negative_count = (cleaned_df[column] < 0).sum()
    negative_counts[column] = negative_count

# Print the number of negative values for each column
print(negative_counts)

{'unit_price_vat_excl': 34180, 'unit_cogs': 0, 'unit_rrp_vat_excl': 34179}

In [46]:
cleaned_df['gross_revenue'] = cleaned_df['quantity'] * cleaned_df['unit_price_vat_excl']
cleaned_df['profit'] = cleaned_df['quantity'] * (cleaned_df['unit_price_vat_excl'] - cleaned_df['unit_cogs'])

In [48]:
cleaned_df.head()

,order_id,date,payment,item_code,quantity,gift_quantity,unit_price_vat_excl,unit_cogs,unit_rrp_vat_excl,CreatedAt,...,name,group0_id,group0,category,gender,age,color,size,gross_revenue,profit
0,2000093387,2020-04-24,GOPAY_CARD,S101,1,0.0,3.506048,0.000000,3.496395,2020-04-24 21:50:00,...,- Å¾Ã¡dnÃ½ vÃ½robce -,999.0,Other,NaN,NaN,NaN,NaN,NaN,3.506048,3.506048
1,2000093387,2020-04-24,GOPAY_CARD,S113,1,0.0,-0.705913,0.000000,-0.717209,2020-04-24 21:50:00,...,- Å¾Ã¡dnÃ½ vÃ½robce -,999.0,Other,NaN,NaN,NaN,NaN,NaN,-0.705913,-0.705913
2,2000093388,2020-04-24,COD,ZB00089178,1,0.0,5.829845,2.209302,6.472868,2020-04-24 21:45:00,...,Puma,200.0,Apparel,football,unisex,adults,Silver,3,5.829845,3.620543
3,2000093388,2020-04-24,COD,ZB00138060,1,0.0,5.829845,2.209302,6.472868,2020-04-24 21:45:00,...,Puma,200.0,Apparel,football,unisex,adults,Pink,39-42,5.829845,3.620543
4,2000093388,2020-04-24,COD,ZB00015664,1,0.0,19.379845,18.731008,32.015504,2020-04-24 21:45:00,...,adidas,200.0,Apparel,fitness,men,adults,Black,XXL,19.379845,0.648837

In [49]:
# save this cleaned_df to a CSV file
cleaned_df.to_csv('merge_cleaned.csv', index=False)

In [50]:
per_order = cleaned_df.groupby('order_id').agg({
    'gross_revenue': 'sum',
    'profit': 'sum',
    'quantity': 'sum'
}).reset_index()

In [51]:
per_order.head(15)

      order_id  gross_revenue      profit  quantity
0     20000001      19.211231    8.491464         3
1     21000001      26.733279    9.679015         2
2     22000001      72.267442   69.322481         1
3   1900072437     271.605813  133.654263        17
4   1900072959     460.383151  257.373074        24
5   1900073779     162.607073   36.851647         9
6   1900073936      69.465742   40.687060         1
7   1900075225      39.176356   22.579069         5
8   1900075432      48.295449   22.849325         2
9   1900075773     113.363953   44.119380         1
10  1900076357      11.521009   11.521009         1
11  1900076718      22.839535   22.839535         2
12  1900077168      40.108527   10.350775         2
13  1900077515      29.662323    8.805734         3
14  1900077788     110.445651   35.022395         1